* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}

.center {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: nowrap;
}

header {
  background-color: #FF751A;
  padding: 10px 0;
}

.logotipo {
  color: black;
}

.logotipo h1 {
  height: 30px;
  width: 300px;
  color: white;
  text-shadow: 0.1em 0.1em 0.05em #333;
}

.menu {
  width: 80%;
  text-align: right;
}

.menu a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.4s;
}

.menu a:hover {
  color: black;
  ;
}

.menu .btn-menu {
  background-color: #BABABA;
  display: inline-block;
  padding: 7px 14px;
  color: black;
  border-radius: 6px;
}

.menu .btn-menu:hover {
  background-color: #74340a;
  color: white;
}

/* media queries for responsive design */
@media only screen and (max-width: 768px) {
  .center {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu {
    width: 100%;
    text-align: center;
    display: none;
  }

  .menu.show {
    display: block;
    margin-top: 10px;
  }

  .menu a {
    display: block;
    margin-bottom: 10px;
  }

  .menu .btn-menu {
    display: block;
    margin: 10px auto;
  }
}


body{
  background-image: url('../img/fundometas.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
  z-index: -1; /* Coloque o pseudoelemento atrás do conteúdo do body */
}

.metastitulo {
  font-size: 70px;
  color: white;
  padding-top: 3%;
  margin-left: 21%;
  text-shadow: 2px 2px 4px black;

}

h3{
  font-size: 20px;
  color: white;
  padding-top: 3%;
  font-weight: 800;
  text-shadow: 2px 2px 4px black;
}


.containermetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 14%;
}

.itemmetas {
  flex-basis: calc(25% - 70px);
  margin-bottom: 150px;
  text-align: center;
  transition: transform 0.3s ease;
}

.itemmetas:hover {
  transform: scale(1.2);

}


.itemmetas img {
  width: 40%;
  height: auto;
}


.itemmetas .textmetas {
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: black;
  padding: 5px;
  margin-left: 35%;
  margin-right: 35%;
}


.titulofind h2 {
  font-size: 65px;
  color: white;
  position: absolute;
  padding-top: 3%;
  margin-left: 21%;
  font-weight: 800;
  text-shadow: 0.1em 0.1em 0.05em #000000;
}